/*general body code*/
body  
{ 
font-family:arial, verdana, helvetica;  
background-image:url('../images/paperbg.png');
background-color: white;
font-size:14px; 
background-repeat:repeat;
background-size:100%,100%;
} 


/*layout code*/
.header_img{
    width:100%;
    height:100%; 
}

header{
    height:20vh;
    width: 100%;
}
nav
{
width: 16%; 
float: left;
position:absolute;
font-family: 'Permanent Marker', cursive;
font-size: 30px;
text-align:center;
line-height:50%;
}

section
{
float:left;
width:100%;
}

section.about{
    width: 95%;
    height: 100%;
    position: absolute;
    clear: both;
    margin-left: 1%;
    text-align: center;
}



section.contact
{
float:left;
width:100%;
height:100%;
}

section.other
{
height: 100%;
width:95%;
position: absolute;
margin-left: 2%;
}
section.friends
{
margin-left:0;
float:left;
width:100%;
height:100%;
background-image:url('../images/cork.gif');
background-size:100%, 100%;
background-repeat: repeat;
}



img.card{
    width:90%;
    height:50%;
    margin-left: 5%;
}

/*images code*/
img.center
{
display: block;  
margin-left: auto;  
margin-right: auto; 
}

img.right
{
float:right;
}

img.CenterLeft
{
margin-left: 200px;
padding-right:10px;
}

img.contact1{
    width:70%;
    height: 60%;
    clear: both;
    margin-left: 15%;
}

img.contact2{
    width:90%;
    height: 40%;
    clear: both;
    margin-left: 5%;
}

img.contact3{
    width:80%;
    height: 70%;
    clear: both;
    margin-left: 10%;
}

.fees{
    width: 250px;
    height: 250px;
}

img.Vtop
{
vertical-align:top;
padding-right:5px;
}
/*paragraph code*/
p.margin
{
margin-left:3px;
}

p.tab
{
line-height: 20px;
font-size:3.5vw;
} 

/*tables code*/
table
{
width:70%;
padding:10px;
text-align:center;
font-size:20px;
border-width: 2px;
}

table.friends
{
float:left;
}

table.center
{
margin-left:auto;
margin-right:auto;
}
/*headings and rulers*/
h1.news
{
margin-left:210px;
width: 33%;
height:60px;
color:orange;
font-size: 38px;
background-image:url('../images/highlight_y2.png');
background-size:cover;
}

hr
{
width:80%;
height:3px;
}



/*slideshow main area*/
*
{
margin:0px;
}

#slider 
{
	height:20%;
	width:65%;
	border-radius:4px;
	overflow:hidden;
	margin-left: auto;
        margin-right: auto;
	cursor:pointer;
        clear: both;
}

#image 
{
	height:100%;
	width:100%;
        margin-left: auto;
        margin-right: auto;
        border-radius:4px;
}
/*testimonial page flips and panels for fades*/

div.panel1,p.flip1,div.panel2,p.flip2,div.panel3,p.flip3,div.panel4,p.flip4
{
line-height: 30px;
margin-left:3%;
margin-right:auto;
width:90%;
font-size:16px;
padding:5px;
border:solid 1px #666;
color:black;

}

div.panel1,div.panel2,div.panel3, div.panel4
{
background-image:url("../images/crumplepanel.gif");
background-size:100%,100%;
background-position:right bottom;
height:auto;
display:none;
border-radius:10px
}


p.flip1,p.flip2,p.flip3, p.flip4
{
cursor:pointer;
background-image:url("../images/crumpleflip.gif");
background-size:cover;
background-repeat:no-repeat;
border-radius:25px;
}

.lunch_menu{
    width:80%;
    height: 900px;
}
.red, .blue, .yellow, .purple, .DeepPink, .Aqua, .green, .DeepPink, .orange{
    font-size: 4vw;
}
/*link colors for nav bar*/
a.red:link,a.red:visited,a.red:hover,a.red:active
{
color:red;
text-decoration:none;
}

a.blue:link,a.blue:visited,a.blue:hover,a.blue:active
{
color:blue;
text-decoration:none;
}

a.yellow:link,a.yellow:visited,a.yellow:hover,a.yellow:active
{
color:yellow;
text-decoration:none;
}
a.purple:link,a.purple:visited,a.purple:hover,a.purple:active
{
color:purple;
text-decoration:none;
}

a.green:link,a.green:visited,a.green:hover,a.green:active
{
color:green;
text-decoration:none;
}

a.DeepPink:link,a.DeepPink:visited,a.DeepPink:hover,a.DeepPink:active
{
color:DeepPink;
text-decoration:none;
}

a.orange:link,a.orange:visited,a.orange:hover,a.orange:active
{
color:orange;
text-decoration:none;
}

a.Aqua:link,a.Aqua:visited,a.Aqua:hover,a.Aqua:active
{
color:Aqua;
text-decoration:none;
}

ul.feeList{
    margin-left: auto;
    margin-right: auto;
    line-height: 5vh;
}